<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{# commentaire : affichage en mode twig#}

<h1>Squelette</h1>

<strong>{% block contenu %}

{% endblock %}</strong>



{% block autre %}
    encore une autre phrase
{% endblock %}



</body>
</html>




